.result.container.ganas-matras-syllables {
    padding: 10px;
    font-size: 1.2em;
    .tables-container {
        display: flex;
        table,
        tr,
        td {
            border-collapse: collapse;
            padding: 0 8px;
        }
        td.ganas,
        td.matras:nth-child(3n),
        td.syllables:nth-child(3n) {
            border-right: 5px solid #f9bf8F;
        }
        .row-headers-container {
            table {
                border-right: 3px dotted #424242;
                font-weight: bold;
                width: 80px;
            }
        }
        .data-container {
            overflow-x: auto;
            flex-grow: 1;
            table {
                margin: 0 auto;
                margin-bottom: 5px;
                .cell {
                    &.ganas {
                        background-color: #ff7f50;
                        font-weight: bold;
                    }
                    &.matras {
                        background-color: #f5af53;
                    }
                    &.syllables {
                        background-color: #ffab3c;
                    }
                }
            }
        }
    }
}
