body {
  background: linear-gradient(to right, #f46b45, #eea849);
  color: #FAEBD7;
  font-size: 14px;
}
h1 {
  font-size: inherit;
}
h4 {
  margin: 0;
  padding: 5px;
}
body, input[type="checkbox"], h5, hr, p{
  margin: 0;
  padding: 0;
}
hr {
  border-color: #FFF;
  border-style: inset;
  border-width: 1px;
}
header {
  font-size: 2em;
  text-align: center;
}
main {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 95%;
}
main > .info {
  font-size: 1.2em;
  text-align: center;
}
main > .inputs-container {
  margin: 5px;
}
main > .inPut, .outPut div, .outPut p {
  box-sizing: border-box;
}
.inputs-container > div {
  margin: 5px 0;
}
.inputs-container .cb-container {
  text-align: right;
}
.inputs-container .inPut {
  background: #FFEBCD;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  font-size: 1.2em;
  height: 40px;
  padding: 5px 10px;
  width: 100%;
}
.inputs-container label {
  font-size: 1.1em;
}
.inputs-container .ignoreLastLaghuCB {
  background: #FFEBCD;
  height: 20px;
  vertical-align: bottom;
  width: 20px;
}
main > .outPut {
   display: none;
   width: 100%;
}
.outPut div {
  background: #f9bf8F;
  background: rgba(255,235,205,0.4);
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  color: #424242;
  font-size: 1.5em;
  margin: 5px 0;
  padding: 10px;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  
}
main .alert-box {
  background: #FC0;
  border-radius: 5px;
  color: #CC3300;
  display: none;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  width: fit-content;
  word-wrap: break-word;
}
.outPut .details {
  display: flex;
  text-align: center;
  width: 100%;
}
.outPut .details div {
  flex: 1;
  margin: 5px;
}
.outPut p {
  padding: 5px;
}
.outPut .ganas p {
  overflow-x: auto;
  width: 100%;
}
.outPut table {
  margin: 10px auto;
}
.outPut table, tr, td {
  border-collapse: separate;
  border-spacing: 5px 0;
}
.outPut table tr td{
  margin: 2px;
  padding: 8px;
}
.outPut table .names td{
  background: #ff7f50;
  font-weight: bold;
}
.outPut table td:nth-child(odd){
  background: #f5af53;
}
.outPut table td:nth-child(even){
  background: #ffab3c;
}
@media (min-width: 786px) {
  header {
    font-size: 2.5em;
  }
  main {
    width: 65%;
  }
  .outPut div{
    font-size: 1.6em;
    padding: 7px;
  }
}
