main * {
  box-sizing: border-box;
  vertical-align: bottom;
}
body {
  background: linear-gradient(to right, #f46b45, #eea849);
  color: #FAEBD7;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
h1 {
  font-size: 2em;
}
h4, h5, hr, p{
  margin: 0;
  padding: 0;
}
hr {
  border-style: inset;
  border-width: 1px;
  border-color: white;
}
header {
  text-align: center;
}
main {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 50px;
}
main > .info {
  text-align: center;
  font-size: 1.2em;
}
main > .inputs-container {
  margin: 5px;
}
.inputs-container > div {
  margin: 5px 0;
}
.inputs-container > .cb-container {
  text-align: right;
}
.inputs-container .inPut {
  height: 40px;
  width: 100%;
  background: #FFEBCD;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  font-size: 1.2em;
  padding: 5px 10px;
}
.inputs-container label {
  font-size: 1.1em;
}
.inputs-container .ignoreLastLaghuCB {
  background: #FFEBCD;
  height: 20px;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
  width: 20px;
}
main > .outPut {
   width: 100%;
   display: none;
}
.outPut div{
  background: rgba(255,235,205,0.4);
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  color: #424242;
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
  margin: 5px 0;
  width: 100%;
  
}
main .alert-box {
  background: #FFCC00;
  border-radius: 5px;
  color: #CC3300;
  display: none;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  width: fit-content;
  word-wrap: break-word;
}
.outPut .details {
  width: 100%;
  text-align: center;
}
.outPut .details div{
  width: 30%;
  display: inline-block;
}
.outPut h4, .outPut p{
  padding: 5px;
}
.outPut .ganas p {
  overflow-x: auto;
  width: 100%;
}
.outPut table {
  margin: 10px auto;
  table-layout: fixed;
}
.outPut table, tr, td {
  border-collapse: collapse;
}
.outPut table tr.names td{
  background: #ff7f50;
}
.outPut table td{
  border-left: 1px #887114 solid;
  border-right: 1px #887114 solid;
  padding: 8px;
  margin: 2px;  
}
.outPut table td:nth-child(odd){
  background: #f5af53;
}
.outPut table td:nth-child(even){
  background: #eabc7f;
}
footer {
  background-color: #FA3;
  bottom: 0;
  font-size: 1.1em;
  left: 0;
  position: fixed;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}
@media (min-width: 786px) {
  h1 {
    font-size: 2.5em;
  }
  main {
    width: 65%;
  }
  .outPut div{
    padding: 7px;
    font-size: 1.6em;
  }
}
